.objectifs{
    background-color:#EA5036;
    margin: 0px;
}
.photo{
    height: 200px;
    width: 150px;
}
.accueil-block .icon {
    width: 60px;
    height: 60px;
    font-size: 26px;
    color: #EA5036;
    margin: 0 0 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
  }
  
  .accueil-block .icon .fas {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 2;
  }

  .accueil-block .row {
    margin: 0 -15px 50px;
  }
  
  .accueil-block .row:last-child {
    margin: 0 -15px;
  }
  
  .accueil-block .holder {
    transition: all 0.3s linear;

  }
  
  .accueil-block .holder:hover {
    margin-top: -5px;
  }
  
  .accueil-block .holder:hover .icon {
    box-shadow: inset 0 0 0 30px #f64b4b;
    color: #fff;
    font-size: 18px;
  }

  .formationCertifiante{

    border:2px solid #FAC126 ;
  }
  .formationModulaire{
    border:2px solid #FAC126 ;
  }
  .chequeTic{
    border:2px solid #FAC126 ;
  }

  .photoPartenaire{
   height: 200px;
   width: 400px;
  }

  h1{
    text-align: center;
  }

.ensembleFormation{
  background-color: rgba(0  , 0, 0, 0.1);
  margin-top: 0;
}