.formation-block{
  padding: 15px;
display: flex;
height: 58vh;
}
.formationLeft{
  width: 35%;
  padding: 10px;
  padding-left: 94px;
  justify-content: center;
}
.formationLeft img{
  height: 300px;
  width: 500px;
}
.formationRight{
  width:65%;
  padding: 10px;
  text-align: center;
}