.pricing-block .price {
    font-size: 35px;
    line-height: 45px;
  }
  
  .blog-block {
    background: #f2f2f2;
  }
  
  .blog-block.content-block .holder:hover {
    box-shadow: none;
  }
  
  .blog-block.content-block .holder:hover .image img {
    transform: none;
  }
  
  .blog-block.content-block .comment-block ul {
    margin: 0;
  }
  
  .blog-block.content-block .comment-block li {
    padding: 0;
  }
  
  .blog-block.content-block .comment-block li:before {
    display: none;
  }
  
  .blog-block .row {
    margin-bottom: 50px;
  }
  
  .blog-block .row:last-child {
    margin-bottom: 0;
  }
  
  .blog-block .holder {
    background: #fff;
    padding: 15px;
    transition: box-shadow 0.3s linear;
  }
  
  .blog-block .holder:hover {
    box-shadow: 0 0 30px 0 #d9d9d9;
  }
  
  .blog-block .card {
    border: 0;
  }
  
  .blog-block .card-body {
    padding: 0;
  }
  
  .blog-block img {
    margin: 0 0 15px;
  }
  
  .blog-block time {
    display: block;
    margin: 0 0 10px;
  }
  
  .blog-block .card-title {
    margin: 0 0 10px;
    color: #f64b4b;
    font-size: 22px;
  }
  
  .blog-block .card-title a:hover {
    color: #d10a0a;
  }
  
  .blog-block .meta {
    overflow: hidden;
    margin: 0 0 10px;
  }
  
  .blog-block .meta time {
    float: left;
    padding: 0 10px 0 0;
  }
  
  .blog-block .meta .category {
    float: right;
    padding: 0 0 0 10px;
  }
  
  .blog-block .meta .category a {
    color: #333;
  }
  
  .blog-block .meta .category a:hover {
    color: #f64b4b;
  }
  .block
  .contact-block {
    position: relative;
  }
  
  .contact-block .row {
    margin: 0 0 25px;
  }
  
  .contact-block .btn-holder {
    text-align: center;
  }
  
  .contact-block .contact-form {
    margin: 0 0 60px;
  }
  
  .contact-block iframe {
    border: 0;
    width: 100%;
    height: 450px;
  }
  