.hero-block {
    margin: 65px 0 0;
  }
  
  .hero-block .carousel-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hero-block .carousel-item img {
    width: 100%;
    height: 600px;
  }
  
  .hero-block .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
  }
  
  .hero-block p {
    margin: 0 0 30px;
  }

  .hero-block-partenaire .carousel-item img {
    width: 50px;
    height: 200px;
  }